<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">


	<context:component-scan base-package="com.hellorestserver.controller" />
	<context:annotation-config />
	<mvc:annotation-driven />
	
	<!-- <bean id="proxyController1" class="com.hellorestserver.proxy.ProxyController"></bean>
	<bean id="handlerMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="/demo/demo2">proxyController1</prop>
			</props>
		</property>
	</bean> -->


	<!-- 模板信息设置 <bean id="velocityConfigurer" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer"> 
		<property name="resourceLoaderPath" value="WEB-INF/velocity" />設置模板防止位置 <property 
		name="velocityProperties"> <props> <prop key="directive.foreach.counter.name">loopCounter</prop> 
		<prop key="directive.foreach.counter.initial.value">0</prop> <prop key="input.encoding">UTF-8</prop>指定模板引擎进行模板处理的编码 
		<prop key="output.encoding">UTF-8</prop>指定输出流的编码 </props> </property> </bean> 
		设置视图解析工具 <bean id="viewResolver" class="org.springframework.web.servlet.view.velocity.VelocityViewResolver"> 
		<property name="suffix" value=".vm" /> 避免乱码 <property name="contentType" 
		value="text/html;charset=UTF-8" /> <property name="dateToolAttribute" value="dateTool" 
		/> <property name="numberToolAttribute" value="numberTool" /> <property name="exposeRequestAttributes" 
		value="true" /> <property name="exposeSessionAttributes" value="true" /> 
		</bean> -->


</beans>